// Raw colors (used to set local variables)

$white:                     #fff;

$gray-lightest:             #f7f7f9;
$gray-lighter:              #eceeef;
$gray-light:                #818a91;
$gray:                      #55595c;
$gray-dark:                 #373a3c;

$blue-light:                rgb(53,197,214);
$blue-pale:                 rgb(200,226,242);
