// Raw colors (used to set local variables)

$white:                     #fff;

$gray-lightest:             #f7f7f9;
$gray-lighter:              #eceeef;
$gray-light:                #818a91;
$gray-light-cool:           #818a91;
$gray-light-warm:           #999999;
$gray:                      #55595c;
$gray-dark:                 #373a3c;

$blue-light:                rgb(53,197,214);
$blue-pale:                 rgb(200,226,242);
$blue-transparent-light:    rgba(0, 137, 208, .3);
$blue:                      rgba(0, 137, 208, 1);
